In [4]:
4+5

9

In [5]:
# Multiplication
6*2

12

In [6]:
# Division
5/2

2.5

In [7]:
# Floor Division
9//4

2

In [8]:
# Modulo
9%4

1

In [9]:
# Powers
9**3

729

In [10]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [11]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

In [12]:
# Reassignment
a = 10

In [13]:
a

10

In [14]:
a = a + a

In [15]:
hex(246)

'0xf6'

In [16]:
bin(128)

'0b10000000'

 Exponentials The function pow() takes two arguments, equivalent to x^y. With three arguments it is equivalent to (x^y)%z, but may be more efficient for long integers.

In [17]:
pow(3,4)

81

 The function abs() returns the absolute value of a number. The argument may be an integer or a floating point number. If the argument is a complex number, its magnitude is returned.

In [19]:
abs(-3.14)

3.14

In [20]:
abs(3)

3

 The function round() will round a number to a given precision in decimal digits (default 0 digits). It does not convert integers to floats.

In [21]:
round(3,2)

3

In [22]:
round(3.1415926535,2)

3.14

Explore this for more https://docs.python.org/3/library/math.html

Functions built in

In [23]:
type("MAHARSHTRA")

str

In [24]:
my_list = ['A string',23,100.232,'o']

In [25]:
len(my_list)

4

In [26]:
my_list[0]

'A string'

In [27]:
my_list[1:]

[23, 100.232, 'o']

In [28]:
my_list[:3]

['A string', 23, 100.232]

In [29]:
my_list + ['new item']

['A string', 23, 100.232, 'o', 'new item']

In [30]:
my_list = my_list + ['add new item permanently']

In [31]:
my_list.append('append me!')

In [32]:
my_list.pop(0)

'A string'

 ADVANCED LISTS

In [33]:
list1 = [1,2,3]

In [34]:
list1.append(4)

In [35]:
list1

[1, 2, 3, 4]

count() takes in an element and returns the number of times it occurs in your list

In [36]:
list1.count(10)

0

In [37]:
list1.count(2)

1

 append: appends whole object at end:

In [38]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

extends list by appending elements from the iterable:

In [39]:
x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

 index() will return the index of whatever element is placed as an argument. Note: If the the element is not in the list an error is raised.

In [40]:
list1.index(2)

1

In [41]:
list1.index(12)

ValueError: 12 is not in list

insert() takes in two arguments: insert(index,object) This method places the object at the index supplied. For example:

In [42]:
list1

[1, 2, 3, 4]

In [43]:
# Place a letter at the index 2
list1.insert(2,'inserted')

In [44]:
list1

[1, 2, 'inserted', 3, 4]

 pop(), which allows us to "pop" off the last element of a list. However, by passing an index position you can remove and return a specific element.

In [45]:
ele = list1.pop(1)

In [46]:
list1

[1, 'inserted', 3, 4]

In [47]:
ele

2

 The remove() method removes the first occurrence of a value. For example

In [48]:
list1

[1, 'inserted', 3, 4]

In [49]:
list1.remove('inserted')

In [50]:
list1

[1, 3, 4]

In [51]:
list2 = [1,2,3,4,3]

In [52]:
list2.remove(3)

In [53]:
list2

[1, 2, 4, 3]

reverse() reverses a list. Note this occurs in place! Meaning it affects your list permanently.

In [55]:
list2.reverse()

In [56]:
list2

[3, 4, 2, 1]

The sort() method will sort your list in place:

In [57]:
list2

[3, 4, 2, 1]

In [60]:
list2.sort()

In [61]:
list2

[1, 2, 3, 4]

The sort() method takes an optional argument for reverse sorting. Note this is different than simply reversing the order of items

In [62]:
list2.sort(reverse=True)

In [63]:
list2

[4, 3, 2, 1]

this case, since list methods like append() affect the list in-place, the operation returns a None value. This is what was passed to y. In order to retain x you would have to assign a copy of x to y, and then modify y:

In [64]:
x = [1,2,3]
y = x.copy()
y.append(4)

In [65]:
print(x)

[1, 2, 3]

In [66]:
print(y)

[1, 2, 3, 4]

In [67]:
# Single word
'INDIA'

'INDIA'

In [68]:
s = 'hello world'

 We can use methods to capitalize the first word of a string, or change the case of the entire string.

ADVANCED STRINGS

In [69]:
s.capitalize()

'Hello world'

In [70]:
s.upper()

'HELLO WORLD'

In [71]:
s.lower()

'hello world'

In [72]:
s

'hello world'

 strings are immutable. None of the above methods change the string in place, they only return modified copies of the original string.To change a string requires reassignment:

In [73]:
s = s.upper()
s

'HELLO WORLD'

In [74]:
s = s.lower()
s

'hello world'

# Location and Counting

In [76]:
s.count('o') # returns the number of occurrences, without overlap

2

In [77]:
s.find('o') # returns the starting index position of the first occurence

4

Formatting The center() method allows you to place your string 'centered' between a provided string with a certain length.

In [78]:
s.center(20,'z')

'zzzzhello worldzzzzz'

The expandtabs() method will expand tab notations \t into spaces:

In [79]:
'hello\thi'.expandtabs()

'hello   hi'

Strings have some built-in methods that can resemble regular expression operations. We can use split() to split the string at a certain element and return a list of the results. We can use partition() to return a tuple that includes the first occurrence of the separator sandwiched between the first half and the end half.

In [80]:
s.split('e')

['h', 'llo world']

In [81]:
s.partition('l')

('he', 'l', 'lo world')

In [82]:
s[1:]

'ello world'

In [83]:
s[:3]

'hel'

In [84]:
# Grab everything, but go in step sizes of 2
s[::2]

'hlowrd'

In [85]:
# We can use this to print a string backwards
s[::-1]

'dlrow olleh'

In [86]:
# Create a tuple
t = ('ONE',2,3)

In [87]:
# Slicing just like a list
t[-2]

2

In [88]:
a={ "Assam":4904,"Bihar": 7181, "Chandigarh": 381}

In [89]:
a

{'Assam': 4904, 'Bihar': 7181, 'Chandigarh': 381}

# ADVANCED DICTIONARIES
Dictionary Data Types also support their own version of comprehension for quick creation

In [90]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

One of the reasons it is not as common is the difficulty in structuring key names that are not based off the values.

Iteration over keys, values, and items Dictionaries can be iterated over using the keys(), values() and items() methods. For example:

In [91]:
d = {'k1':1,'k2':2}

In [92]:
for k in d.keys():
    print(k)

k1
k2

In [93]:
for v in d.values():
    print(v)

1
2

In [94]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)

In [95]:
key_view = d.keys()

key_view

dict_keys(['k1', 'k2'])

d['k3'] = 3

d

In [97]:
key_view

dict_keys(['k1', 'k2', 'k3'])

In [98]:
x = set()

In [99]:
# We add to sets with the add() method
x.add(1)

In [100]:
x

{1}

# Lets have a session on Errors and Exceptions

In [101]:
print('Hello)

SyntaxError: EOL while scanning string literal (<ipython-input-101-db8c9988558c>, line 1)

In [102]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Content written successfully

In [103]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Error: Could not find file or read data

In [104]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except:
    # This will check for any exception and then execute this print statement
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Error: Could not find file or read data

In [105]:
try:
    f = open("testfile", "w")
    f.write("Test write statement")
    f.close()
finally:
    print("Always execute finally code blocks")

Always execute finally code blocks

In [1]:
def askint():
    try:
        val = int(input("Please enter an integer: "))
    except:
        print("Looks like you did not enter an integer!")

    finally:
        print("Finally, I executed!")
    print(val)

In [3]:
askint()

Please enter an integer: 57
Finally, I executed!
57

In [4]:
askint()

Please enter an integer: 687
Finally, I executed!
687

Notice how we got an error when trying to print val (because it was never properly assigned). Let's remedy this by asking the user and checking to make sure the input type is an integer:

In [5]:
def askint():
    try:
        val = int(input("Please enter an integer: "))
    except:
        print("Looks like you did not enter an integer!")
        val = int(input("Try again-Please enter an integer: "))
    finally:
        print("Finally, I executed!")
    print(val)

In [6]:
askint()

Please enter an integer: 4364
Finally, I executed!
4364

So why did our function print "Finally, I executed!" after each trial, yet it never printed val itself? This is because with a try/except/finally clause, any continue or break statements are reserved until after the try clause is completed. This means that even though a successful input of 3 brought us to the else: block, and a break statement was thrown, the try clause continued through to finally: before breaking out of the while loop. And since print(val) was outside the try clause, the break statement prevented it from running.

Let's make one final adjustment:

In [7]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print("Yep that's an integer!")
            print(val)
            break
        finally:
            print("Finally, I executed!")

In [8]:
askint()

Please enter an integer: 56768
Yep that's an integer!
56768
Finally, I executed!

Q 1 Write a function that asks for an integer and prints the square of it. Use a while loop with a try, except, else block to account for incorrect inputs.

Q2 Handle the exception thrown by the code below by using try and except blocks.

In [11]:
for i in ['1','2','3']:
    print(1**2)

1
1
1